* {
	padding: 0;
	margin: 0;
}
.container {
	padding: 10px 10px 0 10px;
	height: 30px;
	color: #333;
	font-size: 16px;
	font-family: "microsoft yahei";
	border-radius: 5px;
	width: 210px;
}
.tip {
	padding-left: 7px;
	font-size: 10px;
	color: rgb(249,38,114);
}
.author {
	margin-top: 10px;
	cursor: pointer;
	padding: 5px 0;
	text-align: center;
	height: 20px;
	color: #333;
	border-radius: 5px;
	line-height: 20px;
	border: 1px solid rgb(51,133,255);
	width: 80px;
	transition: all ease 0.3s;
	margin: 10px;
	float: right;
}
.author:hover {
	background-color: rgb(51,133,255);
	color: white;
	text-decoration: underline;
}
.container span {
	vertical-align: middle;
	display: inline-block;
}
.button-container {
	cursor: pointer;
	position: relative;
	border-radius: 10px;
	margin-left: 50px;
	width: 45px;
	height: 20px;
}
.off {
	border: 1px #999 solid;
	box-shadow: -2px 0 1px grey inset;
	transition: background-color ease 0.8s;
}
.off .button {
	left: 0;
}
.on {
	transition: background-color ease 0.8s;
	border: 1px rgb(25,165,95) solid;
	background-color: rgb(25,165,95);

}
.on .button {
	right: 0;
}
.button {
	background-color: white;
	position: absolute;
	top: -1px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border: #999 solid 1px;
}